.secondStepContentContainer{
  display: flex;
  gap: 30px;
  align-items: center;

}

.additionalContainerClass{
  width:600px
}

.formContainerHeaderLabel{
  opacity:1;
  color:white;
  font-size:22px;
  text-align: center;
  margin-bottom: 30px;
}
.formContainerHeaderLabelSecondary{
  opacity:1;
  color:white;
  font-size:18px;
  text-align: center;
  margin-top: 60px;
}
.buttonBottomMargin{
  margin-top: 40px;
}
