.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.headerLabel{
  position: absolute;
  top:30px;
  left:30px;
  color:white;
  font-size: 24px;
}


