
.formContainerHeaderLabel{
  opacity:1;
  color:white;
  font-size:22px;
  text-align: center;
  margin-bottom: 10px;
}

.inputBottomMargin{
  margin-top: 30px;
}
.buttonBottomMargin{
  margin-top: 50px;
}